OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=true


CHROMADB_COLLECTION=requests_collection
PERSIST_DIRECTORY="db/requests_langchain_db"
CHROMADB_COLLECTION_TEXT=odyssey_collection
PERSIST_DIRECTORY_TEXT="db/odyssey_langchain_db"